* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    gap: 10px;
    margin: auto;
    position: relative;
    width: 620px;
    margin-top: 35px;
}

.cell {
    background-color: #3535ec;
}

.symbol {
    color: #fff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}

.banner {
    position: absolute;
    background-color: red;
    width: 700px;  /* 620 */
    height: 150px;
    margin-top: 230px;
    margin-left: -40px;
    opacity: 82%;
}

.banner h1 {
    color: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
}
